<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home | Qwerty systems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Qwerty systems" name="description" />
    <meta content="Qwerty systems" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/favicon.ico" />

    <%- include ('../Partials/HeaderStyle') %>
  </head>

  <body>
    <!-- <body data-layout="horizontal"> -->

    <div class="bg-soft-light min-vh-100 py-5">
      <div class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <div class="text-primary pt-4">
                  <!-- <i class="mdi mdi-cog spin-right display-3"></i>
                  <i class="mdi mdi-cog spin-left display-4 cog-icon"></i> -->
                  <a href="/">
                    <img
                      src="public/assets/images/logo-sm.svg"
                      alt=""
                      height="100"
                      class="me-1"
                    /><span class="logo-txt text-dark font-size-22"
                      >Qwerty systems</span
                    >
                  </a>
                </div>

                <h3 class="mt-4">Qwerty Systems Starter</h3>
                <p>
                  Boilerplate code for an express Typescript Server and API.
                </p>

                <div class="row mt-5">
                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">01.</h5>
                        </div>
                        <h5 class="mt-3">Authentication</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">02.</h5>
                        </div>
                        <h5 class="mt-3">SQL database implementation</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->

                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">03.</h5>
                        </div>
                        <h5 class="mt-3">REST API endpoints.</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->

                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">04.</h5>
                        </div>
                        <h5 class="mt-3">Docker Implementation</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->

                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">05.</h5>
                        </div>
                        <h5 class="mt-3">Api documentation</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->

                  <div class="col-xl-4 col-sm-6">
                    <div class="card">
                      <div class="card-body overflow-hidden position-relative">
                        <div>
                          <i
                            class="bx bx-help-circle widget-box-1-icon text-primary"
                          ></i>
                        </div>
                        <div class="faq-count">
                          <h5 class="text-primary">06.</h5>
                        </div>
                        <h5 class="mt-3">Admin Dashboard</h5>
                        <p class="text-muted mt-3 mb-0"></p>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->
                </div>

                <!-- end row -->
                <div class="row justify-content-center mt-3">
                  <div class="col-xl-5 col-lg-8">
                    <div class="text-center">
                      <h5>Want to find out more?</h5>
                      <p class="text-muted">
                        You can reach us through
                      </p>
                      <div>
                        <button
                          type="button"
                          class="btn btn-primary mt-2 me-2 waves-effect waves-light"
                        >
                          Email
                        </button>
                        <button
                          type="button"
                          class="btn btn-success mt-2 waves-effect waves-light"
                        >
                          Send us a tweet
                        </button>
                      </div>

                    </div>
                  </div>
                  <!-- end col -->
                </div>
               <!--  <div class="mt-4">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 maintenance-box">
                        <div class="p-4">
                          <div class="avatar-md mx-auto">
                            <span
                              class="avatar-title bg-soft-primary rounded-circle"
                            >
                              <i
                                class="mdi mdi-access-point-network font-size-24 text-primary"
                              ></i>
                            </span>
                          </div>

                          <h5 class="font-size-15 text-uppercase mt-4">
                            Why is the Site Down?
                          </h5>
                          <p class="text-muted mb-0">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered
                            alteration.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mt-4 maintenance-box">
                        <div class="p-4">
                          <div class="avatar-md mx-auto">
                            <span
                              class="avatar-title bg-soft-primary rounded-circle"
                            >
                              <i
                                class="mdi mdi-clock-outline font-size-24 text-primary"
                              ></i>
                            </span>
                          </div>
                          <h5 class="font-size-15 text-uppercase mt-4">
                            What is the Downtime?
                          </h5>
                          <p class="text-muted mb-0">
                            Contrary to popular belief, Lorem Ipsum is not
                            simply random text. It has roots in a piece of
                            classical.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mt-4 maintenance-box">
                        <div class="p-4">
                          <div class="avatar-md mx-auto">
                            <span
                              class="avatar-title bg-soft-primary rounded-circle"
                            >
                              <i
                                class="mdi mdi-email-outline font-size-24 text-primary"
                              ></i>
                            </span>
                          </div>
                          <h5 class="font-size-15 text-uppercase mt-4">
                            Do you need Support?
                          </h5>
                          <p class="text-muted mb-0">
                            If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embar..
                            <a
                              href="mailto:no-reply@domain.com"
                              class="text-decoration-underline"
                              >no-reply@domain.com</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </div> -->
                <!-- end row -->
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
    </div>
    <!-- end  -->

    <%- include ('../Partials/VendorScript') %>
  </body>
</html>
