.topbar-wrapper img {
  content: url(https://img.icons8.com/doodle/2x/-freelancefirm.png);
  width: 50px;
  height: auto;
}
.swagger-ui .topbar {
  background-color: #000000;
  border-bottom: 20px solid #5dc6d1;
}
