<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
          </span>
          <span class="logo-lg">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
            <span class="logo-txt">Qwerty systems</span>
          </span>
        </a>

        <a href="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
          </span>
          <span class="logo-lg">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
            <span class="logo-txt">Qwerty systems</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
