<header id="page-topbar">
  <div class="navbar-header justify-content-between">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
          </span>
          <span class="logo-lg">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
            <span class="logo-txt">Qwerty systems</span>
          </span>
        </a>

        <a href="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
          </span>
          <span class="logo-lg">
            <img src="public/assets/images/logo-sm.svg" alt="" height="24" />
            <span class="logo-txt">Qwerty systems</span>
          </span>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <div class="dropdown d-inline-block">
        <a href="/docs">
          <button class="btn header-item bg-soft-light border-start border-end">
            <span class="d-none d-xl-inline-block ms-1 fw-medium">Docs</span>
            <!-- <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i> -->
          </button>
        </a>
        <a href="/docs/api">
          <button class="btn header-item bg-soft-light border-start border-end">
            <span class="d-none d-xl-inline-block ms-1 fw-medium">Api</span>
            <!-- <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i> -->
          </button>
        </a>
        <a href="/login">
          <button class="btn header-item bg-soft-light border-start border-end">
            <span class="d-none d-xl-inline-block ms-1 fw-medium">Login</span>
            <!-- <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i> -->
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
