<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">Menu</li>

        <li>
          <a href="/home">
            <i data-feather="home"></i>
            <span data-key="t-dashboard">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="grid"></i>
            <span data-key="t-apps">Authentication</span>
          </a>
            <ul class="sub-menu" aria-expanded="false">                
                <li><a href="/home" data-key="t-inbox">Auth Roles</a></li>
                <li>
                <a href="/home" data-key="t-read-email">Auth Permissions</a>
                </li>
            </ul>
        </li>

      <!-- <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
        <div class="card-body">
          <img src="public/assets/images/giftbox.png" alt="" />
          <div class="mt-4">
            <h5 class="alertcard-title font-size-16">Unlimited_Access%></h5>
            <p class="font-size-13">
              Upgrade your plan from a Free trial, to select 'Business Plan.
            </p>
            <a href="#!" class="btn btn-primary mt-2">Upgrade_Now%></a>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
